


nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
  width: 100%;
}

.card {
  width: 300px;
  height: 500PX !important;

}

  body {
    background-color: #2e3032 !important;
}
.cardDis {
  display: flex!important;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.whiteText{
  color: white !important;
}
p.card-text {
  height: 100px;
  overflow: hidden;
}
.card-title {
  height: 73px;
  overflow: hidden;
}